@using Household.MvcExtensions
@model Household.Models.MasterData.CIncomeModel

<div class="row">
	<div class="col-xs-12">
		<h3>Income</h3>
	</div>
	@Html.DisplayStandardRecordButtons(Model.Name)
	@Html.DisplayErrorContainer()
</div>
<form class="row">
	@Html.DisplayForModel()
</form>

<script type="text/javascript">
	(function () {
		if(@Model.Income.ID < 1){$('#btnDelete').remove();}
	})();
</script>