@model Household.BL.DATA.txx.CShopData

<div class="row">
	<div class="col-xs-12">
		<h3>Shop</h3>
	</div>
	<div class="col-xs-12 mB10">
		<input type="button" class="button-default" id="btnSave" value="Save" onclick="Shop.Save();" />
		<input type="button" class="button-default" id="btnDelete" value="Delete" onclick="Shop.Delete();" />
		<input type="button" class="button-default" id="btnClose" value="Close" onclick="Common.hideSubContent();" />
	</div>
	<div class="col-xs-12">
		<ul class="" id="ulError"></ul>
	</div>
</div>
<form class="row">
	@Html.DisplayForModel()
</form>

<script type="text/javascript">
	(function () {
		if(@Model.ID < 1){$('#btnDelete').remove();}
	})();
</script>