<div class="row">
	<div class="fLeft">
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")">Home</a></li>
			<li><a href="@Url.Action("Work", "Work")">Finance</a></li>
			<li>Working Hours</li>
		</ol>
	</div>
	<div class="fClear"></div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div id="divWorkHours" class="contentContainer">
		</div>
	</div>
</div>

<script type="text/javascript">
	Common.LoadContentWithSelector('@Url.Action("WorkHoursList", "Work")', '#divWorkHours');
</script>
