@using Household.Localisation.Common
@using Household.Localisation.Main
@using Household.MvcExtensions
@using Household.Controllers

@{
    ViewBag.Title = HomeHDDText.HomeHDD;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
	<li>@Html.ActionLinkHome(GeneralText.Home, nameof(HomeController.Index))</li>
	<li>@HomeHDDText.HomeHDD</li>
</ol>