@using Household.Localisation.Common
@using Household.Localisation.Main

@{
    ViewBag.Title = HomeHDDText.HomeHDD;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
	<li><a href="@Url.Action("Index", "Home")">@GeneralText.Home</a></li>
	<li>@HomeHDDText.HomeHDD</li>
</ol>