# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin
obj
node_modules
.vs
packages
Household/Properties/PublishProfiles/FileSystem.pubxml.user
Household/Content/DisplayTable.css
Household/Content/pleaseWait.css
Household/Content/Styles.css
Household/Scripts/Finance/*.js
Household/Scripts/Finance/*.map
Household/Scripts/Helpers/*.js
Household/Scripts/Helpers/*.map
Household/Scripts/MasterData/*.js
Household/Scripts/MasterData/*.map
Household/Scripts/Work/*.js
Household/Scripts/Work/*.map