@using Household.Localisation.Main
@using Household.Localisation.Common
@using Household.MvcExtensions
@using Household.Controllers

@{
    ViewBag.Title = "Server Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divContent" class="container">
	<ol class="breadcrumb">
		<li>@Html.ActionLinkHome(GeneralText.Home, nameof(HomeController.Index))</li>
		<li>@ServerManagerText.ServerManager</li>
	</ol>
</div>