
@{
    ViewBag.Title = "Server Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
	<li><a href="@Url.Action("Index", "Home")">Home</a></li>
	<li>Server Manager</li>
</ol>