<connectionStrings>
	<!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-Household-20160505021521.mdf;Initial Catalog=aspnet-Household-20160505021521;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />-->
	<add name="DataModel" connectionString="data source=(local);initial catalog=Household;persist security info=True;user id=sa;password=pointer;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>