@using Household.Localisation.Main.Work;

@model Household.Models.Work.CWorkDayModel

<div class="row">
	<div class="col-xs-12">
		<h3>@WorkText.WorkDay</h3>
	</div>
	<div class="col-xs-12 mB10">
		<input type="button" class="button-default" id="btnSave" value="Save" onclick="WorkDay.Save();" />
		<input type="button" class="button-default" id="btnDelete" value="Delete" onclick="WorkDay.Delete();" />
		<input type="button" class="button-default" id="btnClose" value="Close" onclick="Common.hideSubContent();" />
	</div>
	<div class="col-xs-12">
		<ul class="" id="ulError"></ul>
	</div>
</div>
<form class="row">
	@Html.EditorForModel()
</form>

<script type="text/javascript">
	(function () {
		if(@Model.WorkDay.ID < 1){$('#btnDelete').remove();}

		WorkDay.Start();
	})();
</script>
