@using Household.Data.Context
@using Household.Controllers

@model t_ShoppingListItem

<div class="col-sm-12 p4 panel panel-default" style="margin: 3px 3px 3px 3px">
	<div data-url="@Url.Action(nameof(ShoppingListController.Delete))">
		@Html.DisplayFor(model => model.Name, new { @class = "fLeft" })
		<input type="button" class="button-default fRight mL8" value="Delete" onclick="deleteShoppingListItem(this)" />
		<div class="fClear"></div>
		@Html.HiddenFor(model => model.ID)
	</div>
</div>