@import "bootstrap/panels";
@import "bootstrap/grid";
@import "bootstrap/buttons";
@import "bootstrap/forms";
@import "bootstrap/list-group";
@import "bootstrap/type";
@import "bootstrap/variables";
@import "bootstrap/mixins";

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.noScroll, .noScrollSub {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* Set padding to keep content from hitting the edges */
.container, .body-content {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.panel-main {
	.panel();
	.panel-default();
}

.panel-main-clickable {
	.panel-main();
	.clickable();
}

.panel-main-clickable > div {
	.panel-body();
}

.panel-main-clickable:hover, .panel-main-clickable:focus {
	background-color: @gray-lighter;
}

.panel-main-clickable:hover, .panel-main-clickable:focus, #divSubContent {
	border-color: @gray-light;
	.box-shadow(0 0 10px 2px @gray-light);
}

.row-fixed {
	.row();
	.pos-fixed();
}

.c-gray-light {
	color: @gray-light;
}

.f-weight-normal {
	font-weight: normal;
}

.pos-absolute {
	position: absolute;
}

.pos-fixed {
	position: fixed;
}

.button-default {
	.btn();
	.btn-default();
}

.clickable {
	cursor: pointer;
}

.fClear {
	clear: both;
}

.fNone {
	float: none;
}

.fLeft {
	float: left;
}

.fRight {
	float: right;
}

.right {
	.text-right();
}

.left {
	.text-left();
}

.mL0 {
	margin-left: 0;
}

.mL8 {
	margin-left: 8px;
}

.mL30 {
	margin-left: 30px;
}

.mR-auto {
	margin-right: auto;
}

.m-auto {
	margin-left: auto;
	margin-right: auto;
}

.mB10 {
	margin-top: 10px;
}

.mT10 {
	margin-top: 10px;
}

.mT60 {
	margin-top: 60px;
}

.invisible {
	display: none;
}

.pT4 {
	padding-top: 4px;
}

.p4 {
	padding: 4px 4px 4px 4px;
}

.p8 {
	padding: 8px 8px 8px 8px;
}

.w100 {
	width: 100%;
}

.w90 {
	width: 90%;
}

.w99 {
	width: 99%;
}

.w35p {
	width: 35px;
}

.w200p {
	width: 200px;
}

.h35p {
	height: 35px;
}

.h-min60 {
	min-height: 60px;
}

.h100 {
	height: 100%;
}

@media (min-width: @screen-xs-min) {
	#divSubContent {
		.mL8();
	}
}

#divSubContent {
	.panel-main;
	box-shadow: 0 0 10px 2px @gray-dark;
	.pos-absolute();
	top: 0px;
	z-index: 10;
	.p8();
	.mL0();
	.mR-auto();
}


#divContentCover {
	.pos-absolute();
	z-index: 9;
	.w100();
	.h100();
	background-color: @gray-light;
	opacity: 0.4;
	filter: alpha(opacity=90);
	top: 0;
	left: 0;
}

#divInput {
	.mT10();
}

textarea {
	.h-min60();
}

input[type=password], input[type=email], input[type=url], input[type=text], input[type=checkbox], input[type=radio], textarea, select {
	.form-control();
}

.error {
	color: @brand-danger !important;
}

input[type=password].error, input[type=email].error, input[type=url].error, input[type=text].error, input[type=checkbox].error, input[type=radio].error, textarea.error, select.error {
	border: 1px solid @brand-danger !important;
	.box-shadow(inset 0 1px 1px @brand-danger) !important;
	.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s") !important;
}

#ulError {
	.list-unstyled();
}

#divSearch {
	background-image: url('../Images/search32.png');
	background-position: center center;
	background-repeat: no-repeat no-repeat;
	background-size: 100%;
	.w35p();
	.h35p();
	.fLeft();
	.clickable();
}

.searchContainer, .contentContainer {
	.container();
	.panel-main();
	.p4();
}

input[type=button], button {
	.button-default;
}

label {
	.f-weight-normal();
}

.previewContent {
	.w99();
	.m-auto();

	div {
		.text-center();
	}

	label {
		.c-gray-light();
	}
}

.ui-dialog-titlebar-close{
		background: url('../Images/ui-icons_444444_256x240.png');
		background-position: -96px -128px;
	}
