@using Household.Localisation.Common;

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = ErrorText.Error;
}

<h1 class="text-danger">@ErrorText.Error</h1>
<h2 class="text-danger">@ErrorText.AnErrorOccurredWhileProcessingYourRequest</h2>