.PleaseWaitPic {
  background-image: url('../Images/pleaseWait.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width: 50px;
  height: 50px;
  float: left;
}
#divPleaseWait {
  height: 60px;
  width: 170px;
  line-height: 44px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 4px #eeeeee;
  box-shadow: 0 0 10px 4px #eeeeee;
  position: absolute;
  padding: 5px;
}
.PleaseWaitText {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  font-weight: bold;
}
